/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
 
.button {
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-font-family: "Kristen ITC";
	-fx-font-weight: bold;
	-fx-background-color: none;
	-fx-border-color: none;
	-fx-background-radius: 50, 10;
	-fx-background-insets: -1.4, 0;
 	-fx-border-radius: 50;
}
 
 
.button:hover {
	-fx-background-color: linear-gradient(#F0E68C, #FFFFF0);
}

.button:pressed {
    -fx-background-color: linear-gradient(#A05220, #DEB887);
}