 .root {
	-fx-background-color : linear-gradient(#FF6666 , #660000);
	-fx-border-color: "#000000";
	-fx-border-width: 3;
}

.label {
	-fx-font-size: 40px;
	-fx-font-family: "Kristen ITC";
	-fx-text-fill: black;
	-fx-font-weight: bold;
}